@import "tailwindcss";

:root {
  /* 1. ON FORCE LE NAVIGATEUR EN MODE SOMBRE */
  color-scheme: dark;
  
  /* 2. ON FORCE LES VARIABLES PAR DÉFAUT EN NOIR */
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  
  /* On sécurise aussi le body */
  color-scheme: dark;
}

/* Astuce pour forcer le faux-téléphone sur PC/iPad */
.w-screen { width: 100% !important; }
.h-screen { height: 100% !important; }